header {
    background-color: var(--base);
    font-size: 1rem;
}

.navbar__list {
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.navbar__link {
    text-wrap: nowrap;
}

.navbar__link,
.navbar__link:visited {
    color: var(--contrast);
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link:active {
    color: var(--primary);
}

.navbar__mobile {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 900;
    list-style: none;
    display: none;
    flex-flow: column nowrap;
}

.navbar__mobileLink {
    width: 100%;
    height: 60px;
    padding-left: 1.6rem;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    color: var(--contrast);
    display: flex;
    align-items: center;
}

.navbar__mobileLink:active, .sidebar:focus {
    color: var(--primary);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2) inset;
}

.navbar__mobile li:first-child {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 60px;
    column-gap: 16px;
    padding: 0 6px;
}

.navbar__mobile li:first-child img {
    grid-column: 4 / 5;
    place-self: center;
}

.crossImage {
    margin-top: 8px;
}

/* Layout */

.header {
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;
}

.navbar {
    width: 100%;
    place-self: center;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: min-content;
    gap: 16px;
}

.navbar__list {
    grid-column: 1 / -1;
}

@media screen and (min-width: 576px) {
    header {
    border-bottom: 1px solid var(--contrast);
    }

    .navbar {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        row-gap: 16px;
        column-gap: 32px;
        padding: 0 32px;
    }

    .navbar__list {
        grid-column: 2 / -1;
    }
}

@media screen and (min-width: 905px) {
    .navbar {
        display: grid;
        grid-template-columns: repeat(12,1fr);
    }

    .navbar__list {
        padding: 0 1rem 0 3rem;
        grid-column: 6 / -1;
    }
}

@media screen and (min-width: 1440px) {
    .navbar {
        width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(12,86px);
    }
}