.navbar {
    background-color: var(--base);
    font-size: 1rem;
    display: flex;
    justify-content: end;
}

.navbar__list {
    height: 60px;
    width: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__link,
.navbar__link:visited {
    color: var(--contrast);
}

.navbar__link:hover,
.navbar__link:focus,
.navbar__link:active {
    color: var(--primary);
}