.presentation {
    grid-column: 1 / -1;
}

.contact {
    grid-column: 1 / -1;
    display: flex;
    flex-flow: column nowrap;
}

.contact__link {
    display: block;
    width: 140px;
    height: 45px;
    background-color: var(--primary);
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 1rem;
    display: grid;
    place-content: center;
    margin: 0.5rem 0;
}

.contact__link:hover {
    background-color: hsl(100, 9%, 43%);
}

.contact,
.presentation {
    width: 700px;
    grid-column: 1 / -1;
    justify-self: center;
}

.contact__contactContainer {
    margin-bottom: 8px;
}