<article class="project">
    <section class="project__info">
        <p class="project__paragraph"><strong>Name:</strong> {{project.name}}</p>
        <p class="project__paragraph"><strong>Summary:</strong> {{project.summary}}</p>
        <p class="project__paragraph"><strong>Tech stack:</strong> {{project.tech_stack}}</p>
        <p class="project__paragraph"><strong>Keywords:</strong> {{project.keywords}}</p>
        <a href="" class="project__link">More Info</a>
        <a href="" class="project__link">Code</a>
    </section>
    <section class="project__images"></section>
</article>