<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/header.css' %}">
    <link rel="stylesheet" href="{% static 'app/footer.css' %}">
</head>
<body>
    {% include "./components/header.html" %}
    {% include "./components/footer.html" %}
</body>
</html>