<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/styles.css' %}">
    <link rel="stylesheet" href="{% static 'app/header.css' %}">
    <link rel="stylesheet" href="{% static 'app/footer.css' %}">
    <link rel="stylesheet" href="{% static 'app/home.css' %}">
</head>
<body>
    {% include "./components/header.html" %}
    <main>
        <section class="presentation">
            <h2 class="nodisplay">Presentation</h2>
            <p>Hi, my name is Pablo and I am a Data Scientist. I also like web development, especially backend development. On this website, you can take a look at some of my projects. They are divided in three groups: data analysis, data science and web development. You can use the navbar at the top of the page to navegate through the distinct collections.</p>
        </section>
        <section class="contact">
            <h2 class="nodisplay">Contact</h2>
            <div class="contact__infoContainer">
                <p>Got an idea, a project, or just want to connect? Feel free to reach me out on LinkedIn.</p>
                <a href="https://www.linkedin.com/in/pablogmd/" class="contact__link" target="_blank">LinkedIn</a>
            </div>
            <div class="contact__infoContainer">
                <p>You are welcome to visit my GitHub below to browse my projects, review code samples, and learn more about my work.</p>
                <a href="https://github.com/pablogmdsoftware" class="contact__link" target="_blank">GitHub</a>
            </div>
        </section>
    </main>
    {% include "./components/footer.html" %}
</body>
</html>